/*LOGO E NAV*/
.boxA {
    background-color: #ffc017;
    display: flex;
    justify-content: space-between;
    padding-inline: 5rem;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    z-index: 2;
}
.logo {
    margin-block: 1.5rem;
}
.nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-inline: 1.5rem;
}
.navItem {
    margin-inline: 7px;
}
.btn {
    background-color: #191919;
    color: white;
    padding: 0.5rem;
    border-radius: 30px;
}

/*TITOLO e ARTWORK*/
.boxB {
    background-color: #ffc017;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.titolo {
    display:flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-top: 6rem;
}
.curious {
    font-family: 'Spectral', serif;
    font-weight: 100;
    font-size: 100px;
    margin-bottom: 35px;
    white-space: nowrap;
}
.titolo p {
    font-weight: 300;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}
.titolo .btn {
    width: 40%;
    margin-bottom: 5rem;
}

/* TRENDING AREA*/
.boxC {
    font-family: 'Roboto', sans-serif;
    margin-block: 3rem;
    margin-inline: 5rem;
    color:#191919
}
.trendingTitle {
    margin-bottom: 1.5rem;
    margin-top: -1rem;
    display:flex;
    align-items: center;
}
.boxTrend {
    display: flex;
    flex-wrap: wrap;
}
.cardTrend {
    display: flex;
    width: 33%;
    margin-bottom: 50px;
}
.autore {
    display:flex;
    align-items: center;
    margin-bottom: 10px;
}
.nome {
    padding-left: 10px;
}
.numero {
    font-size: 25px;
    margin-right: 10px;
    opacity: 0.3;
}
.trendTitle {
    font-weight: 500;
    margin-bottom: 10px;
}
.trendContent {
    margin-left: 10px;
}
.cardTrend .autore img {
    width: 5%;
}
.data{
    display: flex;
    align-items: center;
}